<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AlterInterface">
    <!--
     //查询用户名和密码是否一致
        public UserInfo selectByName(String username);
    -->

    <select id="selectByName" resultType="userInfo">
        select userid, username, userpass from userinfo
        <where>
            username = #{user_name}
        </where>
    </select>

    <!--
     //用户密码修改
    public boolean updateByPass(@Param("username")String username, @Param("userpass")String userpass);
    -->
    <update id="updateByPass">
        update userinfo set userpass = #{userpass} where username = #{username}
    </update>

</mapper>